.container {
    max-width: 1000px;
    font-family: Arial, sans-serif;
    margin: 70px auto;
    padding: 25px;
    background: #ffffff;
    color: #333;
    border-radius: 12px;
    box-shadow: 0px 10px 25px rgba(0, 0, 0, 0.15);
}

form {
    display: flex;
    gap: 10px;
    justify-content: center;
    margin-bottom: 15px;
}

form input {
    flex: 1;
    padding: 10px;
    border: 2px solid #ddd;
    border-radius: 8px;
    font-size: 16px;
    background: #f9f9f9;
    color: #333;
    transition: 0.3s;
}

form input:focus {
    outline: none;
    border-color: #007bff;
    background: #ffffff;
}

form button {
    padding: 10px 20px;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.1);
}

.btn-primary {
    background: #007bff;
    color: white;
}

.btn-secondary {
    background: #6c757d;
    margin: auto;
    color: white;
}

form button:hover {
    opacity: 0.85;
}

.table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 15px;
    background: #ffffff;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.1);
}

.table th, .table td {
    padding: 12px;
    border: 1px solid #ddd;
    text-align: center;
}

.table th {
    color: rgb(0, 0, 0);
    text-transform: uppercase;
}

.table tr:nth-child(even) {
    background: #f9f9f9;
}

.table tr:hover {
    background: #e6f2ff;
    transition: 0.3s;
}

.btn {
    padding: 8px 14px;
    text-decoration: none;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 14px;
    transition: 0.3s;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.1);
}

.btn-success {
    background: #28a745;
    color: white;
}

.btn-warning {
    background: #ffc107;
    color: black;
}

.btn-danger {
    background: #dc3545;
    color: white;
}

.btn:hover {
    transform: scale(1.05);
}
